<!DOCTYPE html>
<html>
<head>
    <title>InboxIQ</title>
    <style>
        body {
            text-align: center;
            background: #1e1e2f;
            color: white;
            font-family: Arial;
            padding-top: 150px;
        }

        .logo {
            font-size: 60px;
        }

        button {
            padding: 15px 30px;
            font-size: 18px;
            background: #4CAF50;
            border: none;
            color: white;
            border-radius: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="logo">📧 InboxIQ</div>
<h2>Smart Email Classifier</h2>

<a href="/dashboard">
    <button>Enter App</button>
</a>

</body>
</html>
